.hedding{
    color: rgb(36 100 248);
    background-color: rgb(99 183 253 / 67%);
    font-size: 20px;
    font-weight: bold;
    padding: 0 5px;
}
p .first{
    color: rgb(36 100 248);
}
p .second{
    font-weight: bolder;
}
th{
    font-weight: bold;
}
.blue{
    color:rgb(36 100 248) ;
}